<plugin>
	<nom><multi>[fr]Vert&egrave;bres[de]Wirbel</multi></nom>
	<auteur>Collectif SPIP, [FatCow pour l'icone->http://www.fatcow.com/free-icons/]</auteur>
	<licence>GNU/GPL</licence>
	<version>1.0</version>
	<slogan><multi>[fr]Lecteur de tables SQL[de]SQL Tabellen lesen</multi></slogan>
	<description><multi>[fr]
	Vertebres propose un moyen de lire une table SQL en indiquant
	comme argument de page la table &agrave; lire, pr&eacute;c&eacute;d&eacute;
	de &quot;table:&quot;, par exemple : <code>spip.php?page=table:articles</code>[de]Wirbel erm&ouml;glichen SQL Tabellen zu lesen, indem einer Seite der Parameter &quot;table:&quot; vorangestellt wird: <code>spip.php?page=table:articles</code></multi>
	</description>	
	<etat>stable</etat>
	<prefix>vertebres</prefix>
  	<icon>images/vertebres-32.png</icon>
 	<pipeline>
		<nom>styliser</nom>
		<inclure>vertebres_pipelines.php</inclure>
	</pipeline>
	<necessite id="SPIP" version="[2.1 dev;]" />
	<categorie>outil</categorie>
</plugin>
