<plugin>
	<nom>Vert&egrave;bres</nom>
	<auteur>Collectif SPIP, [FatCow pour l'icone->http://www.fatcow.com/free-icons/]</auteur>
	<licence>GNU/GPL</licence>
	<version>1.0</version>
	<description>
	Lecteur de tables SQL.
	
	Vertebres propose un moyen de lire une table SQL en indiquant
	comme argument de page la table &agrave; lire, pr&eacute;c&eacute;d&eacute;
	de &quot;table:&quot;, par exemple : <code>spip.php?page=table:articles</code>
	</description>	
	<etat>stable</etat>
	<prefix>vertebres</prefix>
  	<icon>images/vertebres-32.png</icon>
 	<pipeline>
		<nom>styliser</nom>
		<inclure>vertebres_pipelines.php</inclure>
	</pipeline>
	<necessite id="SPIP" version="[2.1 dev;]" />
	<categorie>outil</categorie>
</plugin>
